#!/bin/dash

picom -CGb --experimental-backends --no-fading-openclose -o 0 --refresh-rate 75 --backend glx &
dwmbar &
clipmenud &
sxhkd &
xset r rate 200 40 &
xwallpaper --center "$HOME"/Pictures/Wallpapers/penguins.jpg &

#albert &
